<p id="notice"><%= notice %></p>

<h1>Listing Articles</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Price</th>
      <th>Published on</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @articles.each do |article| %>
      <tr>
        <td><%= article.name %></td>
        <td><%= article.price %></td>
        <td><%= article.published_on %></td>
        <td><%= link_to 'Show', article %></td>
        <td><%= link_to 'Edit', edit_article_path(article) %></td>
        <td><%= link_to 'Destroy', article, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Article', new_article_path %>



<div id="calendar">
  <h2 id="month">
    <%= link_to "<", articles_path(:month => (@date.beginning_of_month-1).strftime("%Y-%m-%d")) %>
    <%=h @date.strftime("%B %Y") %>
    <%= link_to ">", :month => (@date.end_of_month+1).strftime("%Y-%m-%d") %>
  </h2>


  <%= calendar_for(@articles, :year => @date.year, :month => @date.month) do |t| %>
    <%= t.head('mon', 'tue', 'wed', 'thu', 'fri', 'sat', 'sun') %>
    <%= t.day(:day_method => :published_on) do |day, articles| %>
      <%= link_to '#' do %>
        <%= day.day %>
        <% articles.each do |article| %>
            <center><%= image_tag('c2.png') %></center>
        <% end %>
      <% end %>   
    <% end %>
  <% end %>

</div>
