<p id="notice"><%= notice %></p>

<div id="calendar">
  <h2 id="month">
    <%= link_to "<", articles_path(:month => (@date.beginning_of_month-1).strftime("%Y-%m-%d")) %>
    <%=h @date.strftime("%B %Y") %>
    <%= link_to ">", :month => (@date.end_of_month+1).strftime("%Y-%m-%d") %>
  </h2>


  <%= calendar_for(@articles, :year => @date.year, :month => @date.month) do |t| %>
    <%= t.head('mon', 'tue', 'wed', 'thu', 'fri', 'sat', 'sun') %>
    <%= t.day(:day_method => :published_on) do |day, articles| %>
      <% if day >= Time.now %>
        <%= "#{day.day} #{day.strftime('%b')}" %>
        <% unless  articles.size > 0 %>
         <%= link_to new_article_path(date: day) do %>
           <center><%= image_tag('c3.png') %></center>
         <% end %>
        <% end %>
        <% articles.each do |article| %>
          <% if article.status == 0 %>
            <%= link_to edit_article_path(article) do %> 
              <center><%= image_tag('c2.png') %></center>
            <% end %>
         <% elsif  article.status == 1 %>
           <center><%= image_tag('c1.png') %></center>
         <% end %> 
        <% end %>   
       <% end %>
      <% end %>
  <% end %>

</div>
